extends layout

block content
  h1 Books
  div.main-links
    p
      a.button(href="/books/new") Create New Book
    form(action="/books/?page=0", method="POST")
      input.hidden(type="text", name="query")
      input.search-submit(type="submit", value="Reset")
  form.search-input(action="/books/?page=0", method="POST")
    input(type="text", name="query")
    input.search-submit(type="submit", value="Search")

  if(rows.length > 0)
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each row in rows
          tr
            td
              a(href=`/books/${row.id}`) #{row.title}
            td #{row.author}
            td #{row.genre}
            td #{row.year}
    - var i = 1;
    ul
      while i < pagination + 1
        li.link-list-item
          a.page-links(href=`/books/?page=${i-1}`)=i++
  else
    include no-results
